.header{
    display: flex;
}



@media (max-width: 1200px) {
    .header{
        display: none;
    }

    .container-head{
        justify-content: space-between;
    }

    .burger-button{
        display: block;
    }
}